<% if model.errors.any? %>
	<div class="alert-warning">

			<h2><%= pluralize(model.errors.count,"error") %> prohibited this book from being saved:</h2>

		<ul class="error-list">
			<% model.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>

	</div>
<% end %>
